In [1]:
%matplotlib inline
import pandas as pd

In [2]:
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

FileNotFoundError: [Errno 2] No such file or directory: 'style-table.css'

In [2]:
titles = pd.read_csv('titles.csv')
titles.head()

                  title  year
0    Tasveer Mere Sanam  1996
1              Only You  1994
2  El pueblo del terror  1970
3               Machine  2007
4                  MARy  2008

### How many movies are listed in the titles dataframe?

In [3]:
print("No.of movies listed =",titles["title"].count())

No.of movies listed = 244914

### What are the earliest two films listed in the titles dataframe?

In [4]:
titles.nsmallest(2,['year'])

                     title  year
193222          Miss Jerry  1894
51388   The Startled Lover  1898

### How many movies have the title "Hamlet"?

In [5]:
titles1 = titles.set_index("title")
print("No.of movies named Hamlet are :",titles1.loc['Hamlet'].count())

No.of movies named Hamlet are : year    20
dtype: int64

### How many movies are titled "North by Northwest"?

In [6]:
titles1 = titles.set_index("title")
print("No.of movies named North by NorthWest are :",titles1.loc["North by Northwest"].count())

No.of movies named North by NorthWest are : 1

### When was the first movie titled "Hamlet" made?

In [7]:
titles1 = titles.set_index("title")
print("First movie titled Hamlet is in the",titles1.loc['Hamlet'].min())

First movie titled Hamlet is in the year    1910
dtype: int64

### List all of the "Treasure Island" movies from earliest to most recent.

In [8]:
titles1 = titles.set_index("title")
titles1 = titles1.loc["Treasure Island"]
titles1.sort_values(by=['year'], inplace=True)
print(titles1)

                 year
title
Treasure Island  1918
Treasure Island  1920
Treasure Island  1934
Treasure Island  1950
Treasure Island  1972
Treasure Island  1973
Treasure Island  1985
Treasure Island  1999

### How many movies were made in the year 1950?

In [9]:
titles1 = titles.set_index("year")
titles1 = titles1.loc[1950]
print("No.of movies in the year 1950 :",titles1.count())

No.of movies in the year 1950 : title    1113
dtype: int64

### How many movies were made in the year 1960?

In [10]:
titles1 = titles.set_index("year")
titles1 = titles1.loc[1960]
print("No.of movies in the year 1950 :",titles1.count())

No.of movies in the year 1950 : title    1549
dtype: int64

### How many movies were made from 1950 through 1959?

In [11]:
li = [1950,1951,1952,1953,1954,1955,1956,1957,1958,1959]
df = titles.set_index('year')
count = 0
for i in li:
    count += df.loc[i].count()
print(count)

title    12934
dtype: int64

### In what years has a movie titled "Batman" been released?

In [13]:
titles1 = titles.set_index("title")
titles1 = titles1.loc["Batman"]
titles1.sort_values(by=['year'], inplace=True)
print(titles1)

        year
title
Batman  1943
Batman  1989

### How many roles were there in the movie "Inception"?

In [14]:
cast = pd.read_csv("cast.csv")

In [15]:
res = cast[cast['title'] == 'Inception']
res = len(res['character'].unique()) 
res

56

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [16]:
df = cast.set_index("title")
df = df.loc["Inception"]

In [17]:
print("No.of roles not ranked by an 'n' value :",df["n"].isnull().sum())

No.of roles not ranked by an 'n' value : 27

### But how many roles in the movie "Inception" did receive an "n" value?

In [18]:
print("No.of roles not ranked by an 'n' value :",df["n"].count())

No.of roles not ranked by an 'n' value : 51

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [19]:
df = cast.set_index("title")
df = df.loc["North by Northwest"]

In [20]:
df.dropna(subset = ["n"], inplace=True)
df = df.sort_values(by ='n')
df

,year,name,type,character,n
title,,,,,
North by Northwest,1959,Cary Grant,actor,Roger O. Thornhill,1.0
North by Northwest,1959,Eva Marie Saint,actress,Eve Kendall,2.0
North by Northwest,1959,James Mason,actor,Phillip Vandamm,3.0
North by Northwest,1959,Jessie Royce Landis,actress,Clara Thornhill,4.0
North by Northwest,1959,Leo G. Carroll,actor,The Professor,5.0
North by Northwest,1959,Josephine Hutchinson,actress,Mrs. Townsend,6.0
North by Northwest,1959,Philip Ober,actor,Lester Townsend,7.0
North by Northwest,1959,Martin Landau,actor,Leonard,8.0
North by Northwest,1959,Adam Williams,actor,Valerian,9.0
North by Northwest,1959,Edward Platt,actor,Victor Larrabee,10.0
North by Northwest,1959,Robert Ellenstein,actor,Licht,11.0
North by Northwest,1959,Les Tremayne,actor,Auctioneer,12.0
North by Northwest,1959,Philip Coolidge,actor,Dr. Cross,13.0
North by Northwest,1959,Patrick McVey,actor,Sergeant Flamm,14.0
North by Northwest,1959,Edward Binns,actor,Captain Junket,15.0
North by Northwest,1959,Ken Lynch,actor,Charley - Chicago Policeman,16.0

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [21]:
df = cast.set_index('title').loc['Sleuth']
df = df.set_index('year').loc[1972].sort_values(by ='n' , ascending=False)
df

                    name     type                   character    n
year
1972        Teddy Martin    actor      Police Constable Higgs  6.0
1972  Eve (III) Channing  actress             Marguerite Wyke  5.0
1972  John (II) Matthews    actor  Detective Sergeant Tarrant  4.0
1972      Alec Cawthorne    actor           Inspector Doppler  3.0
1972       Michael Caine    actor                 Milo Tindle  2.0
1972    Laurence Olivier    actor                 Andrew Wyke  1.0

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [22]:
df = cast.set_index('title').loc['Sleuth']
df = df.set_index('year').loc[2007].sort_values(by ='n' , ascending=False)
df

                     name     type          character    n
year
2007        Harold Pinter    actor        Man on T.V.  3.0
2007             Jude Law    actor               Milo  2.0
2007        Michael Caine    actor             Andrew  1.0
2007      Kenneth Branagh    actor  Other Man on T.V.  NaN
2007  Alec (II) Cawthorne    actor  Inspector Doppler  NaN
2007    Eve (II) Channing  actress    Marguerite Wyke  NaN
2007    Carmel O'Sullivan  actress             Maggie  NaN

### How many roles were credited in the silent 1921 version of Hamlet?

In [23]:
df = cast.set_index('title').loc["Hamlet"]
df = df.set_index('year').loc[1921]
df["character"].count()

9

### How many roles were credited in Branaghâ€™s 1996 Hamlet?

In [24]:
df = cast.set_index('title').loc['Hamlet'].set_index("year").loc[1996]
df = df[df['name'] == 'Kenneth Branagh'].sort_values('character').shape[0]
df

1

### How many "Hamlet" roles have been listed in all film credits through history?

In [25]:
df = cast.set_index('character').loc["Hamlet"]
df["title"].count()

96

### How many people have played an "Ophelia"?

In [26]:
df = cast.set_index('character').loc['Ophelia'].count()
df['name']

117

### How many people have played a role called "The Dude"?

In [27]:
df = cast.set_index('character').loc['The Dude'].count()
df['name']

19

### How many people have played a role called "The Stranger"?

In [28]:
df = cast.set_index('character').loc['The Stranger'].count()
df['name']

212

### How many roles has Sidney Poitier played throughout his career?

In [29]:
df = cast.set_index('name').loc['Sidney Poitier'].count()
df['character']

43

### How many roles has Judi Dench played?

In [30]:
df = cast.set_index('name').loc['Judi Dench'].count()
df['character']

55

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [31]:
df = cast.set_index("name").loc["Cary Grant"]
df = df.set_index("n").loc[2]
res = df.sort_values(by = "year" , ascending = True)
res[(res['year']>1939) & (res['year']<1951)]

                title  year   type    character
n
2.0  My Favorite Wife  1940  actor   Nick Arden
2.0    Penny Serenade  1941  actor  Roger Adams

### List the leading roles that Cary Grant played in the 1940s in order by year.

In [32]:
df = cast.set_index("name").loc["Cary Grant"]
df = df.set_index("n").loc[1]
res = df.sort_values(by = "year" , ascending = True)
res[(res['year']>1939) & (res['year']<1950)]

,title,year,type,character
n,,,,
1.0,The Howards of Virginia,1940,actor,Matt Howard
1.0,His Girl Friday,1940,actor,Walter Burns
1.0,The Philadelphia Story,1940,actor,C. K. Dexter Haven
1.0,Suspicion,1941,actor,Johnnie Aysgarth
1.0,Once Upon a Honeymoon,1942,actor,Patrick 'Pat' O'Toole
1.0,The Talk of the Town,1942,actor,Leopold Dilg
1.0,Destination Tokyo,1943,actor,Capt. Cassidy
1.0,Mr. Lucky,1943,actor,Joe Adams -posing as Joe Bascopolous
1.0,Once Upon a Time,1944,actor,Jerry Flynn
1.0,None But the Lonely Heart,1944,actor,Ernie Mott
1.0,Arsenic and Old Lace,1944,actor,Mortimer Brewster
1.0,Notorious,1946,actor,Devlin
1.0,Night and Day,1946,actor,Cole Porter
1.0,The Bishop's Wife,1947,actor,Dudley
1.0,The Bachelor and the Bobby-Soxer,1947,actor,Dick Nugent
1.0,Every Girl Should Be Married,1948,actor,Dr. Madison Brown
1.0,Mr. Blandings Builds His Dream House,1948,actor,Jim Blandings
1.0,I Was a Male War Bride,1949,actor,Captain Henri Rochard

### How many roles were available for actors in the 1950s?

In [33]:
df = cast.set_index('type').loc["actor"]
df = df[(df["year"] > 1951) & (df["year"] < 1960)]
df["n"].value_counts()

1.0      5416
3.0      4586
4.0      4546
5.0      4531
6.0      4471
         ...
111.0       1
113.0       1
117.0       1
110.0       1
132.0       1
Name: n, Length: 151, dtype: int64

### How many roles were available for actresses in the 1950s?

In [34]:
df = cast.set_index('type').loc["actress"]
df = df[(df["year"] > 1951) & (df["year"] < 1960)]
df["n"].value_counts()

2.0      3792
3.0      2582
1.0      2467
4.0      2353
5.0      2104
         ...
163.0       1
90.0        1
83.0        1
155.0       1
85.0        1
Name: n, Length: 106, dtype: int64

### How many leading roles (n=1) were available from the beginning of film history through 1980?

In [35]:
df = cast.set_index("n").loc[1]
mini = df["year"].min()
df = df[(df["year"] >= mini) & (df["year"] <= 1980)]
lead = len(df)
lead

65140

### How many non-leading roles were available through from the beginning of film history through 1980?

In [36]:
df = cast.set_index("n")
mini = df["year"].min()
df = df[(df["year"] >= mini) & (df["year"] <= 1980)]
res = len(df)
res = res - lead
res

1117667

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [37]:
df = cast.set_index("year").loc[1980]
df["n"].isnull().sum()

4466