In [1]:
import pandas as pd
from scipy.stats import chi2_contingency

# ChiSquare Test

HO = There is no dependency between attrition and maritalstatus.



H1 = There is dependency between attrition and maritalstatus.

In [2]:
dataset = pd.read_excel("general_data.xlsx",sheet_name = 0)

In [3]:
d = {'No': 0, 'Yes': 1}
dataset["Attrition"] = dataset['Attrition'].map(d).fillna(dataset['Attrition'])

In [4]:
d = {'Single': 0, 'Married': 1, 'Divorced':2}
dataset["MaritalStatus"] = dataset['MaritalStatus'].map(d).fillna(dataset['MaritalStatus'])

In [5]:
chitable = pd.crosstab(dataset.Attrition,dataset.MaritalStatus)
print(chitable)

MaritalStatus     0     1    2
Attrition
0              1050  1767  882
1               360   252   99

In [6]:
stats,p,dof,expected = chi2_contingency(chitable)
print(stats,p)

138.4910296225461 8.45385940605774e-31

In [7]:
if(p < 0.05):
    print("Reject H0")
else:
    print("Accept H0")

Reject H0

So we can conclude that there is dependency between attrition and maritalstatus.

# Kruskalwallis test

In [8]:
from scipy.stats import kruskal

In [9]:
data1 = dataset[dataset["MaritalStatus"] == 0]
data2 = dataset[dataset["MaritalStatus"] == 1]
data3 = dataset[dataset["MaritalStatus"] == 2]

HO = There is no significance difference between MaritalStatus_Single.Education,MaritalStatus_Married.Education,MaritalStatus_Divorced.Education


H1 = There is significance difference between MaritalStatus_Single.Education,MaritalStatus_Married.Education,MaritalStatus_Divorced.Education

In [10]:
stats,p = kruskal(data1.Education,data2.Education,data3.Education)
print(stats,p)

2.1788548459330164 0.33640905867318865

In [11]:
if(p < 0.05):
    print("Reject H0")
else:
    print("Accept H0")

Accept H0

So we can conclude that there is no significance difference between MaritalStatus_Single.Education,MaritalStatus_Married.Education,MaritalStatus_Divorced.Education

# MannWhitney Test

In [12]:
from scipy.stats import mannwhitneyu

In [13]:
data1 = dataset[dataset["Attrition"] == 0]
data2 = dataset[dataset["Attrition"] == 1]

HO = There is no significant difference between Attrition_yes.MonthlyIncome and Attrition_No.MonthlyIncome

H1 = There is significant difference between Attrition_yes.MonthlyIncome and Attrition_No.MonthlyIncome

In [14]:
stats, p = mannwhitneyu(data1.MonthlyIncome,data2.MonthlyIncome)
print(stats,p)

1264900.5 0.053577283839938566

In [15]:
if(p < 0.05):
    print("Reject H0")
else:
    print("Accept H0")

Accept H0

So we can conclude that there is no significant difference between Attrition_yes.MonthlyIncome and Attrition_No.MonthlyIncome

# FriedManchiSquare Test

In [16]:
from scipy.stats import friedmanchisquare

HO = There is no significance difference between MonthlyIncome,IncomeAfter6Months,IncomeAfter1Year

H1 = There is significance difference between MonthlyIncome,IncomeAfter6Months,IncomeAfter1Year

In [17]:
dataset1 = pd.read_excel("general_data.xlsx",sheet_name = 0)
dataset1 = dataset1.head(5)
dataset1

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager,IncomeAfter6Months,IncomeAfter1Year
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,11,8,0,1.0,6,1,0,0,141120.0,202157.0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,23,8,1,6.0,3,5,1,4,50267.0,75289.0
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,15,8,3,5.0,2,5,0,3,203476.0,192385.0
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,11,8,3,13.0,5,8,7,5,90345.0,100342.0
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,12,8,2,9.0,2,6,0,4,25389.0,30724.0

In [18]:
stats,p = friedmanchisquare(dataset1.MonthlyIncome,dataset1.IncomeAfter6Months,dataset1.IncomeAfter1Year)
print(stats,p)

5.200000000000003 0.0742735782143338

In [19]:
if(p < 0.05):
    print("Reject H0")
else:
    print("Accept H0")

Accept H0

So we can conclude that there is no significance difference between MonthlyIncome, IncomeAfter6Months, IncomeAfter1Year

# Wilcoxon Test

In [20]:
from scipy.stats import wilcoxon

HO = There is no significance difference between MonthlyIncome and IncomeAfter6Months

H1 = There is significance difference between MonthlyIncome and IncomeAfter6Months

In [21]:
dataset1 = pd.read_excel("general_data.xlsx",sheet_name = 0)
dataset1 = dataset1.head(10)
dataset1

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager,IncomeAfter6Months,IncomeAfter1Year
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,11,8,0,1.0,6,1,0,0,141120.0,202157.0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,23,8,1,6.0,3,5,1,4,50267.0,75289.0
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,15,8,3,5.0,2,5,0,3,203476.0,192385.0
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,11,8,3,13.0,5,8,7,5,90345.0,100342.0
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,12,8,2,9.0,2,6,0,4,25389.0,30724.0
5,46,No,Travel_Rarely,Research & Development,8,3,Life Sciences,1,6,Female,...,13,8,0,28.0,5,7,7,7,41890.0,43789.0
6,28,Yes,Travel_Rarely,Research & Development,11,2,Medical,1,7,Male,...,20,8,1,5.0,2,0,0,0,53789.0,55237.0
7,29,No,Travel_Rarely,Research & Development,18,3,Life Sciences,1,8,Male,...,22,8,3,10.0,2,0,0,0,30430.0,31539.0
8,31,No,Travel_Rarely,Research & Development,1,3,Life Sciences,1,9,Male,...,21,8,0,10.0,2,9,7,8,21450.0,20437.0
9,25,No,Non-Travel,Research & Development,7,4,Medical,1,10,Female,...,13,8,1,6.0,2,6,1,5,144640.0,152674.0

In [22]:
stats,p = wilcoxon(dataset1.MonthlyIncome,dataset1.IncomeAfter6Months)
print(stats,p)

6.0 0.02841686417486375

In [23]:
if(p < 0.05):
    print("Reject H0")
else:
    print("Accept H0")

Reject H0

So we can conclude that there is some significance difference between MonthlyIncome and IncomeAfter6Months in the data I have taken

# Sample T-Test

In [24]:
from scipy.stats import ttest_1samp

HO = There is no significant difference in mean of emploees age and Population = 35

H1 = There is significant difference in mean of emploees age and Population = 35

In [25]:
stats,p = ttest_1samp(dataset.Age,35)
print(stats,p)

13.987934228809113 1.5546387777769359e-43

In [26]:
if(p < 0.05):
    print("Reject H0")
else:
    print("Accept H0")

Reject H0

So we can conclude that there is significant difference in mean of employees age and population = 35

# 2-Sample Paired Test

In [27]:
from scipy.stats import ttest_rel

HO = There is no significance difference in the mean of IncomeAfter6Months and IncomeAfter1Year

H1 = There is significance difference in the mean of IncomeAfter6Months and IncomeAfter1Year

In [28]:
stats,p = ttest_rel(dataset1.IncomeAfter6Months,dataset1.IncomeAfter1Year)
print(stats,p)

-1.6004403621441157 0.14396507471510342

In [29]:
if(p < 0.05):
    print("Reject H0")
else:
    print("Accept H0")

Accept H0

So we can conclude that there is no significance difference in the mean of IncomeAfter6Months and IncomeAfter1Year

# Two sample Independent T-Test

In [30]:
data1 = dataset[dataset["Attrition"] == 0]
data2 = dataset[dataset["Attrition"] == 1]

In [31]:
from scipy.stats import ttest_ind

HO = There is no significance difference between mean of MonthlyIncome of employees having attrition and  no-attrition

H1 = There is significance difference between mean of MonthlyIncome of employees having attrition and  no-attrition

In [32]:
stats,p = ttest_ind(data1.MonthlyIncome,data2.MonthlyIncome)
print(stats,p)

2.0708863763619316 0.03842748490605113

In [33]:
if(p < 0.05):
    print("Reject H0")
else:
    print("Accept H0")

Reject H0

So we can conclude that there is significance difference between mean of MonthlyIncome of employees having attrition and no-attrition